/Final Project/Learning_NLP.ipynb
/Final Project/Sarcasm_Headlines_Dataset.json
/Final Project/Sarcasm_Headlines_Dataset_v2.json
/Final Project/scraping_poemhunter.ipynb

/Final Project/models/mo_more_layers_bidi

/Final Project/Prototype-Neruda.ipynb
/Final Project/Prototype-Neruda-Copy1.ipynb
/Final Project/poem_creation_m1_pn-Copy1.ipynb

accuracy_m1.png
accuracy_m2.png
poems.docx